@font-face {
    font-family: 'HK Grotesk';
    src: url('../font/HKGrotesk-Regular.woff') format('woff'),
        url('../font/HKGrotesk-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('../font/HKGrotesk-Medium.woff') format('woff'),
        url('../font/HKGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('../font/HKGrotesk-SemiBold.woff') format('woff'),
        url('../font/HKGrotesk-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('../font/HKGrotesk-Bold.woff') format('woff'),
        url('../font/HKGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../font/Brandon-Grotesque-Bold.woff') format('woff'),
        url('../font/Brandon-Grotesque-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../font//Brandon-Grotesque-Black.woff') format('woff'),
        url('../font/Brandon-Grotesque-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
html, body {
    font-family: 'HK Grotesk', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    position:relative;
    box-sizing: border-box;
}
* a{
    text-decoration: none;
}
body {
    height:auto
}
main{
    height:100%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 0 24px;
    height:100%;
}
.row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
.row-col{
    flex-direction: column;
    justify-content: center;
}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
.mt-0{
    margin-top:0px;
}
.my-0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.my-30{
    margin-top: 30px;
    margin-bottom: 30px;
}




/*-------------text----------------------*/
h1{font-size: 96px;font-family: Brandon Grotesque;font-weight: 900;margin-top: 0; margin-bottom: 30px;line-height: 84px;text-transform: capitalize;}
h2{font-size: 48px;font-family: Brandon Grotesque;font-weight: 900;margin-top: 0;margin-bottom: 30px;line-height: 53.04px;}
h3{font-size: 48px;font-family: Brandon Grotesque;font-weight: 700;margin-top: 0;margin-bottom: 30px;line-height: 53.04px;}
p{font-size: 18px;font-family:  HK Grotesk;font-weight: normal;margin-bottom:30px;line-height: 27px;}
.text-white{color:#fff;}
.text-black{color:#222222;}
.teal-back{background:#4DBBB6;}
.red-back{background:#DC5B4D}
.text-center{text-align:center;}
.lignleft{text-align:left;}



.nav {
    width: 100%;
    min-height: 102px;
    position: relative;
    z-index: 10;
}
.nav-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 20px 0;
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    position:relative;
}
.btn.btn-red {
    cursor: pointer;
    font-size: 1rem;
    height: 53px;
    line-height: 53px;
    min-width: 200px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    align-items: center;
    display: inline-flex;
    font-weight: 700;
    justify-content: center;
    padding: 0px 4px;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(255,255,255);
    background-color: rgba(220,91,77);
}


.coming-soon-section {
    height: 450px;
    background-color: #F4F7FB;
}
.coming-soon-socials {
    gap: 20px;
    display: flex;
}

.hero {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    align-items: center;
    display: grid;
    padding: 40px 25px;
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-template-rows: repeat(1,minmax(0,1fr));
}
.hero-content {
    z-index: 10;
}
.hero p {
    max-width: 400px;
}
.btn-teal {
    color: rgba(255,255,255);
    background-color: rgba(77,187,182);
    align-items: center;
    display: inline-flex;
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    justify-content: center;
    line-height: 1;
    min-width: 214px;
    padding: 0px;
    text-transform: capitalize;
    text-decoration: none;
}
.btn-black {
    color: rgba(255,255,255);
    background-color: rgba(0,0,0);
    align-items: center;
    display: inline-flex;
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    justify-content: center;
    line-height: 1;
    min-width: 214px;
    padding: 0px 20px;
    text-transform: capitalize;
    text-decoration: none;
}
.hero img {
    max-width: 100%;
    height: auto;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    opacity: .5;
    position: absolute;
    -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
}


.outer-container {
    background: #4DBBB6;
    margin: 50px 42px;
}

.we-are-section .row{
    padding: 70px 0;
}
.we-are-section .row p {
    max-width: 988px;
    margin-right: auto;
    margin-left: auto;
}
.podcast-section {
    padding: 100px 0;
}
span.author-badge {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #ffff;
    background: #DC5B4D;
    display: inline-flex;
    align-items: center;
    padding: 7px 15px;
    margin-bottom: 10px;
}
.podcast-links{
    display:inline-flex;
    justify-content:start;
    gap:15px;
}
.podcast-links a{
    max-width: 260px;
    display: inline-block;
}
.podcast-links a img{
    max-width: 260px;
    display: inline-block;
}
@media (max-width: 1024px) {    
    .nav-container{
        padding: 24px;
    }
    .hero {
        padding-top: 150px;
    }
    .btn-teal,
    .btn-black {
        font-size: 20px;
        font-weight: 700;
        height: 55px;
        min-width: 214px;
        padding: 0px 20px;
    }
    .podcast-section .row {
        text-align: center;
        gap: 20px;
    }
    .podcast-section .row .col-5,
    .podcast-section .row .col-7 {
        width: 100%;
    }
    .podcast-section .row .col-7 p {
        padding-left: 30px;
        padding-right: 30px;
    }
    .podcast-links {
        flex-flow: column;
        justify-content: center;

    }
}
@media (min-width: 1024px) {

    .hero img {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@media (min-width: 1200px){
    .hero {
        grid-template-columns: minmax(0,500px) auto;
    }
    .hero img {
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-translate-x: 2rem;
        opacity: 1;
        position: static;
        object-position: 30% 50%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}

